{% extends 'base.html.twig' %}

{% block body %}
<div class="admin">
    <div class="row">
        <h1 class="my-3 mx-auto">Game</h1>
    </div>

    <table  class="table-striped table-hover table-sm">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Score1</th>
                <td>{{ game.score1 }}</td>
            </tr>
            <tr>
                <th>Score2</th>
                <td>{{ game.score2 }}</td>
            </tr>
            <tr>
                <th>Winner</th>
                <td>{{ game.winner }}</td>
            </tr>
            <tr>
                <th>Posline</th>
                <td>{{ game.posLine }}</td>
            </tr>
            <tr>
                <th>Poscol</th>
                <td>{{ game.posCol }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary mx-2 my-2" href="{{ path('admin_game_index') }}">Back to the list</a>
    <a class="btn btn-outline-secondary mx-2 my-2" href="{{ path('admin_game_edit', { 'id': game.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-outline-secondary mx-2 my-2">
    {{ form_end(delete_form) }}
{% endblock %}
