{% extends 'base.html.twig' %}

{% block body %}
    <div class="team">
        <div class="row">
            <h1 class="my-3 mx-auto">Teams list</h1>
        </div>
        <button class="btn btn-outline-secondary my-3 mx-1" href="{{ path('admin_team_new') }}">Create a new team</button>
        <table class="table-striped table-hover table-sm">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td class="m-auto p-auto"><a class="btn"
                                                 href="{{ path('admin_team_show', { 'id': team.id }) }}">{{ team.id }}</a>
                    </td>
                    <td class="m-auto p-auto">{{ team.name }}</td>
                    <td class="m-auto p-auto">{{ team.country }}</td>
                    <td>
                        <div class="row">
                            <div class="col-4">
                                <a class="btn btn-outline-secondary my-1 p-1"
                                   href="{{ path('admin_team_show', { 'id': team.id }) }}">show</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-outline-secondary my-1 p-1"
                                   href="{{ path('admin_team_edit', { 'id': team.id }) }}">edit</a>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
