{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teams list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tab in tabs %}
            <tr>
                <td><a href="{{ path('admin_team_show', { 'id': tab.team.id }) }}">{{ tab.team.id }}</a></td>
                <td>{{ tab.team.name }}</td>
                <td><img src="http://www.countryflags.io/{{ tab.team.country }}/flat/64.png">{{ tab.country }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_team_show', { 'id': tab.team.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_team_edit', { 'id': tab.team.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_team_new') }}">Create a new team</a>
        </li>
    </ul>
{% endblock %}
